/* ------------------------------------------------ GENERAL STYLES ------------------------------------------------ */

:root {
  --text-white: #eeeeee;
  --primary-color: #00adb5;
  --dark-greishi: #393e46;
  --bg-color: #222831;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--primary-color) 20%,
    var(--bg-color) 20%,
    var(--bg-color) 100%
  );
  color: var(--text-white);
  margin: 0;
}

.complete-content {
  /* border: 5px red solid; */
  width: 70%;
  margin: auto;
}

/* ------------------------------------------------ HOME PAGE STYLE ------------------------------------------------ */

.home-page {
  /* border: 5px green solid; */
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-page_profile-image {
  height: 70%;
  width: 40%;
  position: absolute;
  left: -15%;
  object-fit: cover;
  filter: grayscale(100%);
}

.home-page_content {
  /* border: 2px purple solid; */
  width: 45%;
  margin-left: 45%;
}

.home-page_content_titles {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  display: flex;
  color: var(--primary-color);
}

.home-page_content_titles_name {
  margin-left: 20px;
}

.home-page_content_titles_name span {
  color: var(--text-white);
}

.home-page_content_text p {
  line-height: 25px;
  margin: 0;
}

.home-page_content_buttons {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  /* border: #00adb5 solid 2px; */
  align-items: center;
}

.home-page_content_buttons_more-about-me {
  padding: 15px;
  border-radius: 30px;
  background-color: var(--primary-color);
  color: var(--text-white);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
}

.home-page_content_buttons_circles {
  width: 50px;
  border: var(--primary-color) solid 3px;
  border-radius: 50%;
}
